@CHARSET "UTF-8";

html {
	height: 100%
}

body {
	background: url('/public/images/login_bg.jpg')
	no-repeat 100% bottom;
	height: 100%;
	background-size: cover;
}

.navbar {
	height: 100px;
	background-color: #00a0f5;
}

.navbar-header img {
	float: left;
}

.navbar-header h2 {
	color: #000;
	float: left;
	margin-top: 45px
}

.sidebar {
	margin-top: 101px;
}

.navbar-default {
	background-color: #00a0f5;
	border-color: #50afe1;
}

.navbar-header a {
	color: #fff;
}

.navbar-default a:hover {
	background-color: #00a0f5;
}

.sidebar ul li {
	border-bottom: 1px solid #50afe1;
}

.nav>li>a:focus, .nav>li>a:hover {
	background-color: #50afe1;
	text-decoration: none;
}

.copyright {
	color: #fff
}

.navbar-top-links {
	margin-top: 50px;
}

li.dropdown>a {
	color: #fff;
}

.sidebar ul li a.active {
	background-color: #50afe1;
}
/*set opacity for login box*/
.panel {
	background: none
}

.panel-default>.panel-heading {
/*	background-color: rgba(245, 245, 245, 0.8);*/
	background-color: #fff;
}

.panel-default>.panel-body {
/*	background-color: rgba(255, 255, 255, 0.6);*/
	background-color: #E9E9E9;
}

.btn-success {
	opacity: 1;
}

#loginTable {
	width: 100%
}

#loginTable td {
	line-height: 40px;
	padding-left: 5px;
}

.glyphicon-warning-sign{
	font-size:15px;
	margin-top:5px;
}
.bs-callout-danger{
    color: #ce4844;
    font-size:20px;
    padding-left:5px;
}
.bs-callout-danger p{
    color: #ce4844;
    font-size:20px;
}